#float-img-bg {
    height: 300px;
    width: 600px;
    background-color: lightyellow;
    display: table-cell;
}

.hover {
    background-color: lightblue;
}

.line {
    cursor: pointer;
}

.selected {
    color: #123456;
}

.large {
    font-size:40px;
}

.origin {
    font-size: 20px;
}

.small {
    font-size: 10px;
}

.base {
    margin: 10px;
    box-shadow: 10px 10px 1px #888888;
}

.float_image {
    position: relative;
    top: 100px;
    left: 100px;
}

.float_image2 {
    position: relative;
    width: 120px;
    float: right;
}

.float_image3 {
    position: relative;
    top: 200px;
    width: 120px;
    float: left;
}